* {
    padding: 0px;
    margin: 0px;
    font-family: 'Inconsolata', monospace;
font-family: 'Montserrat', sans-serif;
}

body {
    background: rgb(248, 245, 223);
}

.navbar {
    display: flex;
    position: sticky;
    top: 0px;
    z-index: 1;

    background-color: rgba(246, 236, 236, 0.679);
    cursor: pointer;

}

.navbar li {
    list-style: none;
    margin-left: 60px;

    padding-top: 20PX;

}

.navbar li:hover {
    color: rgb(69, 69, 236);
    border-bottom: 2px solid rgb(124, 209, 124);
    height: 15px;



}
#ba{margin-left: 80px;}
#ab{margin-left: 40%;}

#one {
    margin-left: 150px; 
    transition: width 0.5s;
    width: 0px;
    position: absolute;
    left: 7s0%;

}

 /* #one:hover{
    width: 50px;} */


#s {

    transition: width 0.5s;
    width: 0px;
    position: absolute;
    left: 300px;

}

/* #s:hover {
    width: 50px;
}
 */

#xy {
    transition: width 0.5s;
    width: 0px;
    position: absolute;
    left:450px;
} 

/* #xy:hover {
    width: 50px;
} */

#ts {
   
    width: 0px;
    position: absolute;
    left: 600px;
}

/* #ts:hover { 
    width: 70px;
}*/

#button {
    transition: width 0.5s;
    width: 0px;
    position: absolute;
    left: 88%;
}

/* #button:hover { 
    width: 50px;
}*/







.box {
    position: relative;
}

#button {
    border-radius: 50px;
    height: 20px;
    width: 80px;
    margin-left: 40px;
    background-color: rgb(105, 242, 105);
    padding: 10px 0px 8px 10px;
    margin-top: 10px;
}

#button:hover {
    background-color: black;
}

img {
    height: 30px;
    width: 110px;
    margin-left: 30px;
    padding: 20px 0px 0px 10px;
}

.mom {
    height: 710px;
    width: 190%;
    margin-left: 55px;
    margin-top: 20px;
    border-radius: 50px;
    position: absolute;
    text-align: center;
    max-width: 90%;
}

#msg {
    height: 45px;
    width: 30%;
    margin-left: 50%;
    position: absolute;
    margin-top: 100px;
}

#sticker {
    position: absolute;
    height: 90px;
    width: 400px;
    margin-left: 50%;
    margin-top: 130px;
}

#voicenote {
    position: absolute;
    height: 60px;
    width: 400px;
    margin-left: 50%;
    margin-top: 285px;
}

#photo {
    position: absolute;
    height: 230px;
    width: 430px;
    margin-left: 800px;
    top: 350px;


}

.note {
    position: absolute;
    height: 50px;
    width: 400px;
    margin-left: 800px;
    top: 580px
}

#heart {
    position: absolute;
    height: 40px;
    width: 370px;
    margin-left: 800px;
    top: 120px;
}

#emoji {
    position: absolute;
    height: 40px;
    width: 400px;
    margin-left: 800px;
    top: 560px;
}

.msg {
    position: absolute;
    font-size: 30px;
    color: rgb(225, 236, 245);
    top: 280px;
    margin-left: 280px;
}

#download {
    border-radius: 30px;
    height: 50px;
    width: 120px;
    cursor: pointer;
}

#download:hover {
    background-color: green;
}

.data {
    position: absolute;
    top: 810px;
    margin-left: 70%;
}

.people {
    height: 250px;
    width: 90%;
    position: relative;
    top: 750px;
    left: 50px;
}

h3 {
    position: absolute;
    top: 1050px;
    margin-left: 400px;
    font-size: 30px;
    text-align: center;
}

#men {
    height: 250px;
    width: 90%;
    top: 1250px;
    position: absolute;
    left: 50px;
    ;
}

h2 {
    position: absolute;
    width: 500px;
    height: 400px;
    top: 1700px;
    font-size: 30px;
    margin-left: 250px;
}

#note {
    position: absolute;

    height: 100px;
    top: 1820px;
    margin-left: 250px;
    font-size: 15px;
    ;
}


#phone {
    position: absolute;
    height: 600px;
    width: 350px;
    top: 1600px;
    margin-left: 800px;
}

.learn {
    position: absolute;
    top: 1880px;
    margin-left: 250px;
    border-bottom: 2px solid rgb(137, 230, 137);
    cursor: pointer;
}

.learn:hover {
    color: rgb(162, 237, 162)yellow;
}

.boxtwo {
    background-color: black;
    height: 600px;
    position: relative;

    left: -15px;
    margin-top: 120%;
}

.mobile {
    position: absolute;
    height: 550px;
    width: 500px;
    left: 180px;
    top: 40px;
}

.box {
    position: relative;
    color: aliceblue;
    top: 30%;
}

.moon {
    margin-left: 815px;
    font-size: 40px;
}

.sun {
    margin-left: 815px;
    font-size: 40px;
    color: rgb(93, 204, 93);
}

.sky {
    margin-left: 815px;
}


.more {
    position: absolute;
    color: aliceblue;
    left: 52%;
    top: 400px;
    font-size: 20px;
    border-bottom: 2px solid rgb(137, 230, 137);
    cursor: pointer;

}

.keep {
    position: relative;
}

#group {
    position: absolute;
    font-size: 50px;
    left: 190px;
    top: 180px;
}

.friend {
    position: absolute;
    border: 1px solid none;
    width: 370PX;
    left: 180px;
    top: 320px;
    letter-spacing: 0;
    font-size: 18px;


}

#fun {
    position: absolute;
    left: 200px;
    top: 390px;
    font-size: 15px;
    border-bottom: 2px solid rgb(137, 230, 137);
    cursor: pointer;


}

.img1 {
    position: absolute;
}

#photo1 {
    position: relative;
    height: 530px;
    width: 280px;
    left: 200%;
    top: 50px;
}

#photo2 {
    position: absolute;
    height: 400px;
    width: 300px;
    left: 620px;
    top: 120px;
}

.boxfour {
    position: relative;
}

#img3 {
    position: relative;
    Height: 530px;
    width: 280px;
    left: 200px;
    top: 650px;
}

#img4 {
    position: absolute;
    height: 260px;
    width: 280px;
    top: 800px;
    left: 200px
}

#run {
    position: relative;

}

#say {
    position: relative;
    font-size: 45px;
    margin-left: 43%;
    top: 200px;

}

#words {
    position: absolute;
    top: 900px;
    margin-left: 690px;

}

.hello {
    position: absolute;
    margin-left: 44%;
    margin-top: 330px;
    border-bottom: 2px solid rgb(137, 230, 137);
    cursor: pointer;
}

.boxfive {
    position: relative;
}

#transform {
    position: absolute;
    left: 250px;
    font-size: 35px;
    top: 850px
}

#business {
    position: absolute;
    top: 950px;
    font-size: 15px;
    left: 250px;
}

#help {
    position: absolute;
    left: 250px;
    top: 1050px;
    border-bottom: 2px solid rgb(137, 230, 137);
    cursor: pointer;
}

#img5 {
    position: absolute;
    height: 550px;
    width: 280px;
    top: 600px;
    left: 750px;
}

.green {

    position: relative;

    top: 1300px;
    height: 600px;
    background-color: #E6FFDA;
    border-radius: 55px;

}

#tab {
    top: 90px;
    position: absolute;
    font-size: 50px;
    left: 250px;
}

.new {
    position: relative;

    height: 360px;
    width: 450px;
    left: 40%;
    top: 15%;
    border-radius: 7%;
    background-color: aliceblue;

}

#logo {
    margin-left: 40px;
    font-size: 30px;
    margin-top: 20px;

}

#instant {
    position: absolute;
    top: 70px;

    left: 40px;
    font-size: 30px;
}

.app {
    position: absolute;
    margin-top: 110px;
    margin-left: 40px;
    font-size: 17px;

}

#read {
    position: absolute;
    font-size: 15px;
    border-radius: 30px;
    height: 50px;
    width: 150px;
    top: 250px;
    left: 40px;
    cursor: pointer;


}

#read:hover {
    background-color: black;
}

.video {
    position: relative;
    background-color: aliceblue;

    height: 350px;
    width: 450px;
    top: -260px;
    left: 70%;
    border-radius: 7%;
}

#next {
    margin-left: 40px;
    font-size: 30px;
    margin-top: 20px;
}

.mac {
    position: absolute;
    top: 60px;

    left: 40px;
    font-size: 30px;
}

.chat {
    position: absolute;
    margin-top: 100px;
    margin-left: 40px;
    font-size: 17px;
}

#short {
    position: absolute;
    font-size: 15px;
    border-radius: 30px;
    height: 50px;
    width: 150px;
    top: 270px;
    cursor: pointer;
}

#short:hover {
    background-color: black;
}

#back {
    position: absolute;
    height: 45px;
    width: 55px;
    font-size: 20px;
    top: 500px;
    left: 250px;
    border-radius: 90%;
    cursor: pointer;
}

#front {
    position: absolute;
    height: 45px;
    width: 55px;
    font-size: 20px;
    top: 500px;
    left: 330px;
    border-radius: 90%;
    cursor: pointer;
}

#blackbox {
    position: relative;
    height: 600px;
    top: 1200px;
    background-color: rgb(5, 5, 5);
    z-index: -1;
}

#img7 {
    position: absolute;
    top: 200px;
    left: 150px;
    height: 40px;
    width: 150px;
    cursor: pointer;
}

.g {
    font-size: 15px;

    border-radius: 30px;
    height: 50px;
    width: 150px;
    position: absolute;
    top: 60%;
    left: 180px;
    background-color: green;
    cursor: pointer;

}

.g:hover {
    background-color: aliceblue;
}


#t {
    position: absolute;
    color: aliceblue;
    top: 100px;
    list-style: none;
    left: 30%;
    top: 230px;
    font-size: 20px;
}

.a {
    color: aliceblue;
    top: 200px;
    position: absolute;
    left: 20px;
    list-style: none;
    left: 30%;
    top: 290px;
    font-size: 20px;
    cursor: pointer;
}

.b {
    color: aliceblue;
    top: 200px;
    position: absolute;

    list-style: none;
    left: 30%;
    top: 320px;
    font-size: 20px;
    cursor: pointer;
}

.c {
    color: aliceblue;
    top: 300px;
    position: absolute;

    list-style: none;
    left: 30%;
    top: 350px;
    font-size: 20px;
    cursor: pointer;
}

.d {
    color: aliceblue;
    top: 400px;
    position: absolute;

    list-style: none;
    left: 30%;
    top: 380px;
    font-size: 20px;
    cursor: pointer;
}

#st {
    position: absolute;
    color: aliceblue;
    top: 100px;
    list-style: none;
    left: 45%;
    top: 230px;
    font-size: 20px;
}

.us {
    color: aliceblue;
    top: 200px;
    position: absolute;
    left: 20px;
    list-style: none;
    left: 45%;
    top: 290px;
    font-size: 20px;
    cursor: pointer;
}

.careers {
    color: aliceblue;
    top: 200px;
    position: absolute;

    list-style: none;
    left: 45%;
    top: 320px;
    font-size: 20px;
    cursor: pointer;
}

.brand {
    color: aliceblue;
    top: 200px;
    position: absolute;

    list-style: none;
    left: 45%;
    top: 350px;
    font-size: 20px;
    cursor: pointer;
}

.privacy {
    color: aliceblue;
    top: 200px;
    position: absolute;

    list-style: none;
    left: 45%;
    top: 380px;
    font-size: 20px;
    cursor: pointer;
}

#use {
    position: absolute;
    color: aliceblue;
    top: 100px;
    list-style: none;
    left: 60%;
    top: 230px;
    font-size: 20px;
}

.android {
    color: aliceblue;
    top: 200px;
    position: absolute;

    list-style: none;
    left: 60%;
    top: 290px;
    font-size: 20px;
    cursor: pointer;
}

.iphone {
    color: aliceblue;
    top: 200px;
    position: absolute;

    list-style: none;
    left: 60%;
    top: 320px;
    font-size: 20px;
    cursor: pointer;
}

.pc {
    color: aliceblue;
    top: 200px;
    position: absolute;
    left: 20px;
    list-style: none;
    left: 60%;
    top: 350px;
    font-size: 20px;
    cursor: pointer;
}

.j {
    color: aliceblue;
    top: 200px;
    position: absolute;

    list-style: none;
    left: 60%;
    top: 380px;
    font-size: 20px;
    cursor: pointer;
}

#need {
    position: absolute;
    color: aliceblue;
    top: 100px;
    list-style: none;
    left: 75%;
    top: 230px;
    font-size: 20px;
}

.contact {
    color: aliceblue;
    top: 200px;
    position: absolute;

    list-style: none;
    left: 75%;
    top: 290px;
    font-size: 20px;
    cursor: pointer;
}

.center {
    color: aliceblue;

    position: absolute;

    list-style: none;
    left: 75%;
    top: 320px;
    font-size: 20px;
    cursor: pointer;
}

.corona {
    color: aliceblue;

    position: absolute;

    list-style: none;
    left: 75%;
    top: 350px;
    font-size: 20px;
    cursor: pointer;
}

.virus {
    color: aliceblue;
    position: absolute;
    list-style: none;
    left: 75%;
    top: 380px;
    font-size: 20px;
    cursor: pointer;
}

hr {
    width: 1200px;
    margin-top: 520px;
    position: absolute;
    left: 170px;
}

#terms {
    position: absolute;
    top: 550px;
    color: aliceblue;
    left: 170px;
    font-size: 18px;
}

#policy {
    position: absolute;
    top: 550px;
    color: aliceblue;
    left: 400px;
    font-size: 18px;
    cursor: pointer;
}

.icons {
    position: relative;
}

#twitter {
    position: absolute;
    color: aliceblue;
    top: 550px;
    font-size: 20px;
    margin-left: 670px;
    border: 1px solid white;
    border-radius: 40px;
    cursor: pointer;

    padding: 12px 12px;

}

#twitter:hover {
    background-color: rgba(16, 197, 64, 0.874);
}

#youtube {
    position: absolute;
    color: aliceblue;
    top: 550px;
    font-size: 20px;
    margin-left: 730px;
    border: 1px solid white;
    padding: 12px 10px;
    border-radius: 40px;
    cursor: pointer;
}

#youtube:hover {
    background-color: rgba(16, 197, 64, 0.874);
}

#insta {
    position: absolute;
    color: aliceblue;
    top: 550px;
    font-size: 20px;
    margin-left: 790px;
    border: 1px solid white;
    padding: 11px 12px;
    border-radius: 40px;
    cursor: pointer;

}

#insta:hover {
    background-color: rgba(16, 197, 64, 0.874);
}

#facebook {
    position: absolute;
    color: aliceblue;
    top: 550px;
    font-size: 18px;
    margin-left: 850px;
    border: 1px solid white;
    padding: 12px 15px;
    border-radius: 40px;
    cursor: pointer;
}

#facebook:hover {
    background-color: rgba(16, 197, 64, 0.874);
}

.lang {
    position: absolute;
    top: 550px;
    left: 1000px;
}

#select {
    font-size: 18px;
    border-radius: 90px;
    height: 40px;
    width: 150px;



}